[2019-08-14 21:49] dancwilliams opened #1 "Menu Clarification"
Hello,

First I want to say that I really like the look of this theme.  Great job!

I am working on testing it and cannot grasp how the menu is created in the top right of the screen.  I did see this line in the documentation:

`The menu is built following the structure of the content folder. Two levels are allowed at the moment.`

Would you be able to provide a little more information to get me g

[2019-08-22 12:19] PippoRJ commented on #1
Hi @dancwilliams

Sorry for the delay of my response.
The menu is NOT create following the `config.yaml` but it is created following the file system content of the "content" folder.

Let me show you an example, I hope it helps.
The "content" folder has the following structure:
- Exercises (folder)
- -_index.md (file)
- - Math (folder)
- - - _index.md (file)
- Theories (folder)
- - _index.md (file)

[2019-08-30 22:25] dancwilliams commented on #1
Thank you!

[2019-08-30 22:25] #1 closed

[2019-09-26 14:05] savethehousemouse opened #2 "404 / page not found for included links 'about' and 'credits' on demo site"
I confess being a Hugo Noob. Your demo site had the best mix of features (reactive, left selection frame, top selection frame), looked very nice and your personal site built with Julia shows its power. That's why I chose it after looking at a few other options.

Those others used toml to control the site-structure. This one utilizes yaml. The toml file duplicates the structure nicely like for exam

[2019-09-26 23:22] PippoRJ commented on #2
Hi @savethehousemouse

I think that your problem is that you are running Hugo, configured correctly with ReFresh, but with an empty site (i.e., an empty "content" directory).

This is the code to run the example site from scratch.
Run the following commands:
[code]
The explanation of these commands are here:
- https://gohugo.io/getting-started/quick-start/
- README file of this theme

YAML vs TOML

[2019-09-30 00:22] willismonroe opened #3 "How to set create static pages in the top-right menu."
I saw from issue #1 that the top-right menu is created programmatically based on the contents of "/content/".  I'm trying to create a page that appears in that list but is just a static .md file.

If I leave a "_index.md" file in the directory I get the name of the directory in the menu but no content.  If I change the "_index.md" to just "index.md" I can show content but the link disappears from

[2019-09-30 00:25] willismonroe commented on #3
Ah I figured it out, I didn't need to have the folder hierarchy.  If I just added a named md file to the "/content/" directory it showed up as a link in the top-right menu.

[2019-09-30 00:30] willismonroe commented on #3
Re-opening, because I was mistaken, after reloading the links are gone from the top-right menu.
![image](https://user-images.githubusercontent.com/715210/65842202-a7f55100-e2de-11e9-9306-027c81783a47.png)
The layout above results in the page below (I'd like publications and teaching to appear in the menu):
![image](https://user-images.githubusercontent.com/715210/65842206-af1c5f00-e2de-11e9-96cc-9

[2019-09-30 23:31] PippoRJ commented on #3
Hi @willismonroe ,

you are right, at this moment, in the top right menu you cannot have regular pages.
In the "content" folder you can have only other folders that will contain regular pages.

I really need to add this as you suggest. I will do it in the next few days!

[2019-10-01 02:54] willismonroe commented on #3
That would be amazing, let me know if there's anything I can do to help.

On Mon, Sep 30, 2019 at 4:31 PM PippoRJ <notifications@github.com> wrote:

[2019-10-01 23:30] PippoRJ commented on #3
I added that functionality.

In any regular page you can now specify the option `showInMenu`.
If the option `showInMenu` is set to `true` the page will be shown in the top-right menu.

Please let me know if everything is working.

[2019-10-06 00:05] willismonroe commented on #3
Hey I'm excited to give this a shot, but I ran a git pull on the submodule theme and now I'm getting this error when I try to serve the site:
`
 parse failed: template: partials/css.html:27: illegal number syntax: "-"
`
(This is hugo version: `Hugo Static Site Generator v0.58.0/extended linux/amd64 BuildDate: 2019-10-03T11:09:47Z`)

I had a look at the file and I'm not sure what could be wrong, it

[2019-10-06 16:47] PippoRJ commented on #3
mmm, that's odd.

I will be offline for 2 weeks unfortunately but I will have a look as soon
as I am back online.

Sorry for keep you waiting..!

On Sun, Oct 6, 2019, 04:05 M. Willis Monroe <notifications@github.com>
wrote:

[2019-10-06 16:48] #2 closed

[2019-10-06 17:55] willismonroe commented on #3
No worries, enjoy being off-line.

On Sun, Oct 6, 2019 at 9:47 AM PippoRJ <notifications@github.com> wrote:

[2019-10-06 19:28] willismonroe commented on #3
For when you return, I've found that this commit (https://github.com/PippoRJ/hugo-refresh/commit/6a6ff4cdbb2bf3fbd4a950db1937c07435b386bb) is the one breaking it for me.  Again, I don't really see what could be wrong there... but luckily the single pages change you made is before that, so I can keep working with that.

[2019-10-21 22:54] PippoRJ commented on #3
Hi @willismonroe ,
I was not able to reproduce the error, with my website and with the example site it is working... not sure what is happening there.
Anyway, I removed the extra spaces.
Let me know if you can update the theme and run it without problems..!

[2019-10-22 21:20] Clutchisback1 opened #5 "Animated Selfie!?"
How was the animated avatar created?

[2019-10-22 21:47] PippoRJ commented on #5
Hi @Clutchisback1
the avatar were created using this website https://getavataaars.com/

[2019-10-22 21:53] elamje opened #6 "Images not working after latest Hugo upgrades - resource.Resource nil pointer"
```2019/10/22 16:48:06 Failed to render pages: render of "section" failed: execute of template failed: template: _default/list.html:22:28: executing "main" at <partial "single/summary.html" .>: error calling partial: "/Users/project/themes/hugo-refresh/layouts/partials/single/summary.html:8:42": execute of template failed: template: partials/single/summary.html:8:42: executing "partials/single/sum

[2019-10-22 22:01] elamje commented on #6
Here is a relevant support discussion about the breaking changes in one of the latest releases. https://discourse.gohugo.io/t/nil-pointer-evaluating-resource-resource-resize-in-version-0-57-0/20208

[2019-10-22 22:10] PippoRJ commented on #6
Hi @elamje
the images used in the summary should not be placed in the `static/` or `public/images`.
To reference an image using the `summaryImage` variable you need to use a leaf bundle and reference the image relative to the index.md file.

A leaf bundle is a `post` made in this way:
* folder_1
   * index.md
   * my-image.jpg

The content of the index.md is:
--------------
...
summaryImage: my-im

[2019-10-22 22:49] elamje commented on #6
Okay, thanks for the help. You were correct about the leaf bundle. I am confused about the other case when I get that ```nil pointer``` error however.

It arises when I override the
[code]
Where is this homepage looking for the photo? The exampleSite doesn't seem to use the leaf bundle format. Is there documentation on where the config.yaml file looks for resources?

Thanks

[2019-10-22 23:10] elamje commented on #6
Okay, thanks for the help! I figured out some things I missed in the documentation. I got past those issues now.

[2019-10-22 23:10] #6 closed

[2019-10-23 08:09] elamje opened #7 "Firefox and Safari cutting off letters from refresh-summary-title elements"
When using the post format with an index page that has all of your posts listed with a tile image, a title, and a summary, it seems major browsers are chopping off lowercase letters like "g" and "y" which drop down below the title line.

The element that the issue arises is:
[code]

You can look at the refresh demo website to see an example of this on the "Post" page. Most of the titles have a let

[2019-10-23 08:22] PippoRJ commented on #7
Hi @elamje
you are right.
It is one of those things that I left to be solved later since it was a minor issue to me (because it doesn't prevent the title to be read or understood).
I will have a look at it this evening, I need to refresh my rusty CSS skills.

[2019-10-23 14:03] Clutchisback1 commented on #5
Thanks man! Looked all over for this thing!

[2019-10-23 14:03] #5 closed

[2019-10-23 17:49] Clutchisback1 opened #8 "Specifying both Tags and a Summary Image in posts Cause Errors"
I am trying to specify both of the options below in posts however both are causing errors such as the one below. The summary image error could because I am not specifying the image location correctly because I am not sure where the source dir is looking for the base dir when this option is specified.

#### My Options

[code]

#### Error

[code]

[2019-10-23 19:20] PippoRJ commented on #8
Hi @Clutchisback1
you try to remove the `/` from the path of the `summaryImage` to be `"images/fade3.jpg"`
Does this work?

[2019-10-23 20:44] PippoRJ commented on #7
I update the CSS.
You should be able to see those letters.

[2019-10-24 00:17] Clutchisback1 commented on #8
Yea i tried playing around with that. It's tricky because I hosting this in github so the paths end up being different once it's on github pages.

[2019-10-24 08:31] PippoRJ commented on #8
Does it work on your own pc if you run `hugo server` ?
Do you think you can make the repo public so I can have a look?

[2019-10-24 20:03] #7 closed

[2019-10-28 03:01] elamje commented on #7
Awesome! Thanks for fixing that 🥇 It's looking good.

[2019-10-30 19:04] vBuresh commented on #3
Hi, thanks for the great theme and the ability to display the avbranny ordinary pages in the menu.
Is it possible to allow translation of the generated menu items into another language?

[2019-10-30 23:33] PippoRJ commented on #3
Hi @vBuresh
I am not an expert of the Multilingual Mode of Hugo but it is certainly possible:
https://gohugo.io/content-management/multilingual/
Did you know about this feature? Does it work for you?

I did not have the multilingual mode in mind when developing the theme but I will be happy to know if it works... and if it doesn't I can have a look into how to make it work..!

[2019-10-31 11:04] vBuresh commented on #3
Hi Roberto!

Thanks for your prompt reply and helpfulness.
So far, creating multilingual sites for me is tomorrow's task, but it is very interesting. I look at her, including [discussions ](https://discourse.gohugo.io/t/translation-of-the-plural-and-zero-in-russian-returns-the-name-of-the-variable/14995).

But now I need translation of a few interface elements only:
- Main menu (usually 2-5 positi

[2019-10-31 22:45] PippoRJ opened #9 "Multilingual theme"
_Originally posted by @vBuresh in https://github.com/PippoRJ/hugo-refresh/issues/3#issuecomment-548066824_

[2019-10-31 22:49] PippoRJ commented on #3
Hi @vBuresh ,

I opened a new Issue with your comment so that we don't go off topic with this current thread, here: https://github.com/PippoRJ/hugo-refresh/issues/9
We can continue the discussion there :)

[2019-10-31 23:00] PippoRJ commented on #9
Hi @vBuresh

I am reporting to the new issue that you wrote previously:

Yes, you are right.
Those words are not configured to be changed. I will dig into how to add the multilingual feature but it might take a while to implement it.
When you start to implement the multilingual site, if I didn't implement this feature yet, please ping me up again!

[2019-10-31 23:03] #3 closed

[2019-11-01 04:20] vBuresh commented on #9
Thank you for your attention to this matter. I sincerely wish you all success.

[2019-11-08 08:00] shwetaudacious opened #11 "Netlify Build failing"
I am deploying my site using Netlify and `Hugo` build is smooth on my windows10 system. However, build in Netlify fails with following stacktrace:

`1:19:34 PM: Building sites …
1:19:34 PM: Total in 331 ms
1:19:34 PM: Error: failed to prune cache "assets": remove /opt/build/repo/resources/_gen/assets/css/css/mycss.css_d11fe7b62c27961c87ecd0f2490357b9.content: no such file or directory
1:19:34 PM:

[2019-11-08 09:59] PippoRJ commented on #11
Hi @shwetaudacious

I am not an expert of Netlify but since it is working well on your machine alone it might be an error related to the Netlify pipeline.

Have a look at these errors:
https://github.com/gohugoio/hugo/issues/5745
https://community.netlify.com/t/hugo-build-failing-after-upgrading-theme-submodule/3241/7
https://github.com/rhazdon/hugo-theme-hello-friend-ng/issues/10
Do they help to

[2019-11-09 00:46] dunhampa opened #12 "Netlify Failing On Demo Site When "buildDrafts: true" or any page "draft: false""
I read #11 , so this issue is just for awareness.  Ok to close if it is rooted in Netlify pipeline.

Here were my finding specific to Netify

The (basic demo site) site servers and builds fine locally.

The same site builds and deploys on Netlify with no errors. But there are no pages that are displayed due to draft status.

As soon as one page is saved as "draft:false" or config file includes "bu

[2019-11-09 01:08] dunhampa commented on #12
I solved this in Netlify by setting Hugo version in deployment settings Environment variables.

See screenshot
<img width="991" alt="Screenshot 2019-11-08 20 07 48" src="https://user-images.githubusercontent.com/5845872/68520152-7ec3cb00-0263-11ea-8f09-37f58293081c.png">

[2019-11-09 01:08] #12 closed

[2019-11-09 01:09] dunhampa commented on #11
@shwetaudacious if the site is building locally - I just solved a similar Netlify build issue by setting the Hugo version explicitly. See #11 for details.

[2019-11-09 09:21] PippoRJ commented on #12
Thanks @dunhampa for reporting the solution!

[2019-11-10 13:03] shwetaudacious commented on #11
hey, thanks for suggestion. I was finally able to resolve the issue by removing the unnecessary `resources ` folder. It had some json and css files like above `mycss.css_d11fe7b62c27961c87ecd0f2490357b9.content ` not sure why they were in the same directory.

[2019-11-10 13:03] #11 closed

[2019-11-13 19:38] PippoRJ commented on #9
Hi @vBuresh,
I merged your commit thus adding the multilanguage support for the theme.
Let me know if you find other issues.

[2019-11-13 19:38] #9 closed

[2019-11-17 04:10] dunhampa opened #13 "Feature Request: Github link in Contacts"
It would be nice to be able to Github link in footer in Contacts, similar to Facebook and Instagram via the config file.

I am still learning Hugo so I hard coded it.

Thanks for theme!

[2019-11-17 04:12] dunhampa opened #14 "Feature Request: Add "Home" link on Nav Bar"
It might be beneficial to add the option to include Home page (link back to index) on Nav bar via the config file.

I am still learning Hugo so hardcoded in the Nav bar.

[2019-11-17 17:43] PippoRJ commented on #13
Hi @dunhampa ,
yes, I added it. Thanks for the suggestion!

[2019-11-17 17:43] #13 closed

[2019-11-17 18:04] PippoRJ commented on #14
Hi @dunhampa ,
yes, it might help to add the home page button on the nav bar...
but I think that the _real_ content of the website are the articles that are always accessible through the navbar and the sidebar, so I am not sure that going back to the homepage is really useful.
Anyway, I will think about how/where to place it though :)

[2019-11-19 02:43] dunhampa opened #15 "Homepage Image From Config File (When Image Not located in theme)"
I am not having luck specifying a new image to display on homepage from the config file that does not live in the scheme.

I can get the desired result but only when I save my image in the theme directory
for instance if myimage is saved here:

`<site>/themes/hugo-refresh/assets/images/myimage.png`

then the following config works:

[code]
But I tried to save my image outside of theme in static/im

[2019-11-19 02:48] dunhampa commented on #14
@PippoRJ yes, I can appreciate that the home page is more of a splash and once you are in the content the user may not be any reason to go back.

I am modifying the home a bit to provide more content, so that may be driving my request.

For consideration, here are two blogs I am using for comparison:
https://al-phillips.co.uk/
https://services.informatik.hs-mannheim.de/~nagel/

[2019-11-19 09:33] PippoRJ commented on #15
Hey @dunhampa ,
You are always welcome!
the reason why the images are in the `assets` folder is simple.
I use the `Resize` method to resize the images so that the usage of the bandwidth to transfer the images is more optimized.
As far as I tried, I couldn't fetch the images from the `static` folder since it is usually used to place content that is not going to change.
If you find a way to place th

[2019-11-21 18:25] PippoRJ commented on #14
Hi @dunhampa
both the blog suggested have a lot of content in the homepage, and this is what I was trying to avoid with my theme.
Maybe you can have a look at https://themes.gohugo.io/hugo-fresh/ (Fresh theme). It is a singlepage theme. I modified a lot Fresh theme to obtain my theme but maybe there are parts that you can take to obtain what you want to achieve.

[2019-11-21 19:01] dunhampa commented on #14
@PippoRJ  thanks for considering, your response and reason for not including makes sense.

[2019-11-21 19:01] #14 closed

[2019-12-17 22:31] #8 closed

[2019-12-19 04:30] dunhampa commented on #15
@PippoRJ  i have been experimenting with this, and based on:

https://discourse.gohugo.io/t/resize-image-from-static-folder/14453

adding the line:
`assetDir = "static"
to config seems to do the trick.

I can put together a reproducible example if you are interested. Any pitfalls you are aware of?

[2019-12-19 07:02] PippoRJ commented on #15
Hi @dunhampa ,
This is actually great! I was not aware of this.
I am not aware of any pitfalls but I will need to test the theme after this modification.

I will be offline for a couple of weeks for Christmas holidays but I will update the Theme as soon as I am online again.
Thanks for this!

[2019-12-19 07:35] PippoRJ commented on #15
I closed it by mistake.

I'll close it when I'm sure everything is tested.

[2019-12-29 09:18] ticofab opened #17 "What should I change to fix proportions of preview images?"
My issue is that preview images are stretched to fill the preview area:

<img width="1338" alt="Screenshot 2019-12-29 at 10 15 09" src="https://user-images.githubusercontent.com/1792917/71554784-456a3900-2a24-11ea-932e-9e931191328a.png">

I would like to have them centered and with their proportions unchanged, even if this results in empty space or portions of the image being cropped on one dimens

[2020-01-06 13:37] ticofab commented on #17
I got it on my branch - removed `height: 100%` from the `figure` class and used `overflow: hidden` on the box.

[2020-01-06 13:37] #17 closed

[2020-01-08 00:50] PippoRJ commented on #15
I have added the `assetDir = "static"` everything works perfectly.
I have updated the docs and example site accordingly.

[2020-01-08 00:50] #15 closed

[2020-01-14 04:07] dunhampa opened #19 "Image Size Not Respected In Shortcode For Books"
I am reproducing by building the example site.

Going to:

`<site>/content/topic_1/example_3_topic_1/
`
creating an images directory so that

`<site>/content/topic_1/example_3_topic_1/images/`

exists.

I am copy the summary.jpg in the images just for testing.

Then I update:

`<site>/content/topic_1/example_3_topic_1/index.md`

and so that the entire file contains:

[code]

No matter what I chang

[2020-01-15 23:15] PippoRJ commented on #19
Hi @dunhampa ,

so here it happened that the image itself was actually resizing but the displayed size on the page was remaining the same.
(So if you change the quality to be very, e.g. using ` size="20x"`, you will see that the displayed image will have a very poor quality.)
The image size on the page is constrained to be 1/6 of the space available width and no bigger than that.

I have pushed a

[2020-01-17 02:09] PippoRJ commented on #17
I added the option `keepImageRatio` to the front matter of the posts to force the respect of the image proportions (but the image will still try to fill all the available space).

[2020-01-18 14:05] onedrawingperday opened #20 "Theme demo broken on the Hugo Themes website"
Hello @PippoRJ

The recent commits have broken the theme's demo on the Hugo Themes website.

You have configured the `assetDir` as the `staticDir` and that is not supported by the Hugo Themes architecture.

The breakage happened during the past 14 commits of your repo.

However it is impossible to pinpoint the exact commit since it seems that you are pushing commits in a non-linear order. For exam

[2020-01-18 14:18] PippoRJ commented on #20
Hi @onedrawingperday ,

Thanks for letting me know. I will update the theme in the upcoming week. As soon as I have done it I will let you know so that you can test it.

Sorry for the mess!

[2020-01-18 17:43] ticofab commented on #17
Awesome, thanks! I merged it into my fork 👍

[2020-01-20 23:02] PippoRJ commented on #20
Hi @onedrawingperday

I have removed the `assetDir` option from the example site config and checked the built with the Hugo Themes Build Script.
Can you confirm that everything is correct?

[2020-01-21 08:05] onedrawingperday commented on #20
Hell @PippoRJ

I confirm the fix and I have updated the theme in https://github.com/gohugoio/hugoThemes/commit/2849d084c1ca65c42c6b682c441d01cf220021ab

Thank you for fixing this issue.

[2020-01-21 22:46] onedrawingperday commented on #20
@PippoRJ

The demo is still broken because the resources are outdated and the Themes website is deployed with the basic version of Hugo.

Please regenerate and commit the updated theme's resources.

[2020-01-21 23:42] PippoRJ commented on #20
Hi @onedrawingperday ,
this is really strange, I did upload the resources.
I also regenerated the resources again but there is nothing to commit.
To double check, I removed the extended version of hugo and installed the basic version and I tried to run the demo site and it runs without errors.

[2020-01-22 07:40] onedrawingperday commented on #20
What is your local Hugo version?

[2020-01-22 08:17] PippoRJ commented on #20
it is `0.62.2`.

[2020-01-22 09:10] onedrawingperday commented on #20
I cannot figure out why your theme demo does not generate with the Hugo Themes Build Script, because the console does not print an ERROR.

You need to debug with the basic version of Hugo and to follow these instructions: https://github.com/gohugoio/hugoThemes#testing-a-theme-with-the-hugo-themes-website-build-script

You commented out the `assetDir` from the config but are there any assets in the

[2020-01-22 09:35] PippoRJ commented on #20
ok, I will remove the warnings.

One recent change that I made is here: https://github.com/PippoRJ/hugo-refresh/blob/master/layouts/partials/single/summary.html#L34 where I am using an hardcoded "content" string to get the size of the image.
Do you think that this might cause problems?

[2020-01-22 10:27] onedrawingperday commented on #20
Iindeed seems that your latest commit masks the console ERRORs.  You should not hardcode the PATH for a theme that is hosted on Hugo Themes. We mention all that in the [README](https://github.com/gohugoio/hugoThemes#common-permalink-issues).

In any case, when I revert the latest 2 commits in your theme's repo by executing `git reset --hard HEAD~2` and then running the Hugo Themes Build Script wit

[2020-01-22 13:03] PippoRJ commented on #20
Why are you testing old versions? With the new commits I try to solve the problems. If you test the old commits the problems are there.
Sorry but maybe I am missing the point here.

I am actually using Page Bundles in the example site and the default image (set in the configuration) is actually pointing to the `/assets/` folder.

I did that but I only get warnings (as you reported as well).

Yes,

[2020-01-22 13:15] onedrawingperday commented on #20
As mentioned in the README relative hardcoded PATHs point to the host root. The theme demo lives in a subdirectory and Hugo will not be able to serve these assets.

Because the latest commit did not solve the problem and the one about the image ratio is the one that masked the console errors that I mentioned in my previous comment.

[2020-01-22 20:48] PippoRJ commented on #20
@onedrawingperday

I removed the relative path. Let me know if this solves the issue.

I am working to remove warnings given by the `isset` and replacing it with `with` (but it's not always possible if I need to use an else condition).

[2020-01-23 09:17] onedrawingperday commented on #20
@PippoRJ

The above commit as you see does not solve the problem.

[2020-01-23 09:17] onedrawingperday commented on #20
@PippoRJ

The latest commit does not solve the problem.

[2020-01-23 09:24] PippoRJ commented on #20
That's super strange.
It is also difficult to debug something that doesn't give me any problem.

I will have a look at the latest 15 commits to see what I changed and see if there is something that can cause problems.

[2020-01-23 14:22] PippoRJ commented on #20
@onedrawingperday

Can you give me more details on the error that it is raised or it does not show any error?

[2020-01-23 14:57] onedrawingperday commented on #20
@PippoRJ

No I cannot give you more details. I am afraid I have already written above what I encountered while trying to debug your theme.

The last commit of your theme that produced a working demo with the Hugo Themes Build Script was aa583af

However I do not have more time to debug this further.

In my opinion the only way to figure out what happened is by going back to the above commit and th

[2020-01-23 15:31] PippoRJ commented on #20
@onedrawingperday

The problem is that I don't see any error with the Hugo Themes Build Script (only the `isset` warning).
This means that even If I go back and incrementally add changes I will end up with no errors on my side but still there could be potentially errors on your side.

Anyway, I will dig more, hopefully I can find something.

[2020-01-23 22:20] onedrawingperday commented on #20
That is not the case. If a demo generates locally with the Build Script it will also generate during actual deployment.

[2020-01-23 23:06] PippoRJ commented on #20
Do you know what is it that the Build Script does not support?
I can't understand what is the problem if there are no errors.

Give me some more time please. I want to dig more into this.

[2020-01-24 01:20] PippoRJ commented on #20
@onedrawingperday

With the extended version of hugo installed, I have launched the Hugo Themes Build Script.
Instead of raising an error, the missing resources have now been generated.
I have committed these resources.

Is this solving the error?

[2020-01-24 09:36] onedrawingperday commented on #20
So this was a matter of missing resources, after all.

Glad you figured it out.

The demo was fixed on the Hugo Themes website in https://github.com/gohugoio/hugoThemes/commit/c6f116cc18db70b14bfb49634815abf7399ca74d

[2020-01-24 09:36] #20 closed

[2020-01-24 09:41] PippoRJ commented on #20
Yes indeed. It was strange (at least to me) that the resources generated with the Build Scripts have different names than the one generated by running `hugo server` using the example site as new site.

Thanks a lot for your support!

[2020-02-01 23:26] dunhampa opened #21 "{.Content} not rendering Headings in List With Rest Of Theme"
This is related to a slight theme modification so apologies if not related/supported.

Functionally, I am trying to include content/description of related topics or tags.  That is, for instance if I want to introduce the "code" tags with a general description it would show up when someone clicked the "code" tag.

Content is displaying but not rendering as expected based on the markdown content.

*

[2020-02-02 02:10] dunhampa commented on #21
I found that by including the Container in the Section had the intended effect:

![image](https://user-images.githubusercontent.com/5845872/73601875-49174100-4537-11ea-92e1-b227e8b8bab3.png)

[2020-02-02 02:10] #21 closed

[2020-02-02 10:20] PippoRJ commented on #21
I am glad you figured it out.
Let me know if you have other problems.

[2020-04-01 05:48] telecoder opened #22 "There is no way to go back to home"
It appears there is no way to go back to the welcome page once you go to any other page.

 Am I missing something here?

[2020-04-02 09:49] PippoRJ commented on #22
Hi @telecoder , you are right.
I didn't think that a link to the main page is really necessary as it is not showing anything of the content of the website. You are not the first person that mention this so I will add this link.
I think I will add this on the top of the page near the right menus.
If you think it should be placed somewhere else let me know.

[2020-04-02 16:28] telecoder commented on #22
Thank you for considering this.

I think the most common way for going back to the home page is by clicking on an icon located at the top left corner of the page, just like GitHub does for example. But this would conflict with the location of the tags icon, perhaps both can be located side by side there?.

[2020-04-02 17:19] PippoRJ commented on #22
mmm not sure there..
I was thinking to add a "Homepage" link the footer under the "Website" column.
Maybe I can add different possibilities in the configuration.

[2020-04-09 20:36] AndroidLibrariesYoutube opened #23 "Getting error while adding summaryImage."
While I am running command hugo server -D. It causing an error about resource.Resource.Width

[code]

[code]

[2020-04-09 21:29] PippoRJ commented on #23
Hi @AndroidLibrariesYoutube ,

have a look at https://github.com/PippoRJ/hugo-refresh/issues/6 it seems a related issue.
Where did you place the "summary.jpg" image?
Use a leaf bundle and specify the path to the image relative to the index.md of the bundle.

Let me know if you need more help or you manged it.

[2020-04-09 21:35] PippoRJ commented on #19
I'll close the issue for the moment.

[2020-04-09 21:35] #19 closed

[2020-04-10 11:37] PippoRJ commented on #22
Hey @telecoder
I added 2 options to configure the link to the homepage. In the configuration `config.yaml` under `homepage` setting there are:
- `linkPosition` to specify where the homepage link is placed (options are "none", "menu", "footer" or "menu+footer".)
- `linkText` to specify the text of the homepage.

[2020-04-10 11:37] #22 closed

[2020-04-10 15:07] telecoder commented on #22
Thank you!

[2020-04-10 15:22] AndroidLibrariesYoutube commented on #23
Yes I have added the image in the folder. I also try to update the hugo. I also tried the leaf bundle. When I am adding your theme code in mine then it's working but when I generate a new one then it causing some issue. Do I have to do some changes in the config or other place.

[2020-04-10 15:33] PippoRJ commented on #23
The error that you get it is the same one you were getting at the beginning or it is changed?

Can you publish the code that you are using on GitHub? So that I can clone it and have a look.

[2020-04-10 15:35] AndroidLibrariesYoutube commented on #23
I am getting same error as before. I am pushing the code to the repo right now.

[2020-04-10 15:43] AndroidLibrariesYoutube commented on #23
https://github.com/AndroidLibrariesYoutube/HugoDemo

@PippoRJ You can check the repo. I am getting error on the content/posts/my-first-post.md

[2020-04-10 16:28] PippoRJ commented on #23
Hi @AndroidLibrariesYoutube
So there are a couple of problems.
One problem is that the folder `posts` is not a leaf bundle. To solve this problem you just need to rename the file `my-first-post.md` to `index.md`. Now, the `posts` represents an article but it is not yet inside a folder that contains articles. At this moment the article is a standalone article. To show this article in the menu use t

[2020-04-10 16:34] AndroidLibrariesYoutube commented on #23
@PippoRJ It worked perfectly. Thanks for your help. Be safe and Happy Coding.

[2020-04-10 16:34] #23 closed

[2020-04-11 10:56] escapist21 opened #24 "Clicking on the homepage link from the About page or the other link does not return to homepage"
The <a href=""> to the Homepage is somehow getting set to parent link itself. Attaching the screenshots from the Chrome page inspector.

![Screen Shot 2020-04-11 at 4 23 11 PM](https://user-images.githubusercontent.com/16124332/79041915-0f3a7900-7c11-11ea-91fe-53a2d2b1eee2.png)
![Screen Shot 2020-04-11 at 4 22 51 PM](https://user-images.githubusercontent.com/16124332/79041918-16fa1d80-7c11-11ea-98

[2020-04-11 11:32] PippoRJ commented on #24
Hi @escapist21
you are absolutely right. I will fix it in a bit. I'll update you.

[2020-04-11 13:59] PippoRJ commented on #24
Hey @escapist21
I pushed the homepage link fix to the repo.
Let me know if it works for you.

[2020-04-11 14:18] escapist21 commented on #24
Hey @PippoRJ
It's working fine now. Thanks for the quick update. Cheers!

[2020-04-11 14:18] #24 closed

[2020-04-12 06:20] escapist21 opened #25 "While writing python in a code block, a long print statement is breaking the rendering of the markdown."
A longer print statement messes up with the width of the code block and rest of the markdown while rendering. Attaching screenshots.

Long print statement in code block

![Screen Shot 2020-04-12 at 11 40 12 AM](https://user-images.githubusercontent.com/16124332/79061948-203bc680-7cb3-11ea-96c6-b47cef2a5ba7.png)

Render with messed up width

![Screen Shot 2020-04-12 at 11 40 33 AM](https://user-ima

[2020-04-12 07:17] PippoRJ commented on #25
Hi @escapist21
Yes, the traditional way to insert some code might brake the width of the page.
Please use the `code` or `codeWide` shortcodes to insert some code in the page (see the documentation in the README).

[2020-04-12 07:24] escapist21 commented on #25
Thanks @PippoRJ

The shortcode `codeWide` works fine. Sorry for the bother.

[2020-04-12 07:24] #25 closed

[2020-04-12 07:26] PippoRJ commented on #25
No worries at all!

[2020-04-12 07:43] ticofab opened #26 "Preview in shares?"
Hi @PippoRJ and Happy Easter!
This is a feasibility / feature request. What would it take to show the post preview image when sharing a blog post? This is an example of what happens now on Twitter:

<img width="585" alt="image" src="https://user-images.githubusercontent.com/1792917/79063368-90415100-7ca1-11ea-95c9-d730508f0370.png">

It would be great if we could show the preview image of the blog

[2020-04-12 07:54] PippoRJ commented on #26
Hey @ticofab happy Easter to you too!
yeah that would be an amazing feature. Not sure how to implement it atm... if you have any reference that might help please share. I'll have a look too..!

[2020-04-12 08:14] PippoRJ commented on #26
Hey @ticofab
is this you are talking about https://ahrefs.com/blog/open-graph-meta-tags/ ?
Just to double check..

[2020-04-12 08:27] ticofab commented on #26
I think so yes! Indeed meta tags are used on Twitter (see doc [here](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards)), I'm not familiar with Facebook or Linkedin sharing but I imagine it would work similarly. Thanks for taking the time to check this out!

[2020-04-12 08:31] PippoRJ commented on #26
Great! I will add this feature asap!

[2020-04-12 09:46] escapist21 opened #27 "Shortcode for figure not rendering image"
My image is stored in the 'images' folder within the static directory, and I have also enabled the _assetDir_ value in the _config.yaml_ file. But using the shortcode for `figure` within the markdown does not render the image. The normal markdown syntax for the image works fine. Attaching screenshots.

Inspecting the page in Chrome does not show an HTML for the figure shortcode as wel

![Screen Sh

[2020-04-12 10:47] PippoRJ commented on #27
Hey @escapist21
The path of an image used in a `figure` shortcode is relative to the leaf bundle path used for that post.
Try that and let me know.

[2020-04-12 13:55] escapist21 commented on #27
Hey @PippoRJ
I tried the leaf bundle path solution with my image stored inside the images folder in this manner
*post-title (folder)
--*index.md(file)
--*images(folder)
----*photo.jpeg(file)

inside the index.md I referenced the image in the `figure` shorcode in this manner
`{{%  figure src="images/photo.jpeg" width="500" %}}`
but this doesn't seem to work

the relative path to the summary image i

[2020-04-12 14:05] PippoRJ commented on #27
This is very strange... Can you give me the link of your repo? So I can have a look..

[2020-04-12 14:29] escapist21 commented on #27
Okay i got it to work. The short code should be
`{{< figure src="images/photo.jpeg" width="500" >}}`

I was following the example in the README where it is written as
`{{% figure src="images/photo.jpeg" width="500" %}}`

So basically the readme for both **figure.html** and **twoFigure.html** examples need to be updated.

[2020-04-12 14:30] PippoRJ commented on #27
That's great! Thank you for that, I will update the README.

[2020-04-12 14:30] #27 closed

[2020-04-12 14:41] PippoRJ commented on #26
Hey @ticofab so I added the Open Graph meta tags on article pages.
Try it on and let me know how it goes..!

[2020-04-12 15:34] escapist21 opened #28 "Caption in figures short code?"
This is a feature request.
Is it possible to add an attribute for caption in the figure shortcode?

something like
[code]
should work.

But with my very poor knowledge of Golang I'm really not able to import the "caption" from the "image". The [Hugo shortcode for figure](https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/embedded/templates/shortcodes/figure.html) also has this feature.

[2020-04-12 15:41] PippoRJ commented on #28
Hey @escapist21 , I will have a look on how to add the caption, that shouldn't be too difficult.. I will add this asap..!

[2020-04-12 19:12] PippoRJ commented on #28
Hey @escapist21 ,
I added the "caption" element and "alt" property to the figure and twoFigure shortcodes
Let me know!

[2020-04-13 05:04] ticofab commented on #26
Awesome thanks! Will try later today! :)

[2020-04-13 05:46] escapist21 commented on #28
@PippoRJ Works like a charm. Thanks

[2020-04-13 05:46] #28 closed

[2020-04-13 08:29] ticofab commented on #26
Hey @PippoRJ , I deployed the latest changes but unfortunately no preview image appears when tweeting a blog post. Have you been able to see a preview image? Maybe I'm doing something wrong. Specifically I'm talking about [this post](https://ticofab.io/tech/2020-04-11-planned-learning/), which has both a preview image and an image in the actual text.

[2020-04-13 09:11] PippoRJ commented on #26
Mmm ok.. let me try again.. I might have missed something..

[2020-04-13 09:14] PippoRJ commented on #26
Btw.. as preview image I have to use the same image used in the gallery preview.. not sure I can use the first image used in the blog post.. but first let's make this work and then let's refine the details

[2020-04-13 09:19] ticofab commented on #26
Thanks @PippoRJ - preview from the gallery image would be perfect indeed :)

[2020-04-13 10:55] PippoRJ commented on #26
@ticofab so one mistake that I spotted it that you need to setup the `baseURL` parameter in your `config.yaml`  file. ATM it is set on the example website. You need to do this because it is needed for the URL that are created for the Open Graph tags.
Let me know if it goes better after that.

[2020-04-13 11:31] PippoRJ commented on #26
The preview should be working good for Twitter and Linkedin... the preview on Facebook is on the way..!

[2020-04-14 05:08] ticofab commented on #26
@PippoRJ - thanks for debugging my blog for me 😃 I think you just added an awesome feature. The result works perfectly, using preview image, post title and caption. Awesome!

<img width="591" alt="image" src="https://user-images.githubusercontent.com/1792917/79188193-af192200-7e1e-11ea-82a7-bea9f9ee0d83.png">

[2020-04-14 05:08] #26 closed

[2020-04-17 10:27] nimasghari opened #29 "sha256 mismatch error?"
Hey, thanks for making a cool theme.

When I install and run hugo server -D, everything works.
But when I run hugo -D and move the public files to my server I get this error message in the console and the resources don't load:
- None of the “sha256” hashes in the integrity attribute match the content of the subresource.

Also when building I get this message:
Building sites … WARNING: calling IsSe

[2020-04-17 11:01] PippoRJ commented on #29
Hey @nimasghari
don't worry about the warning, I am testing the presence of some configuration options and if not present they issue a warning. I will fix it sometime in the future.

The sha256 error message it is strange.
Can you edit a single html page (from your server) and remove the "integrity" property from all the script elements, then reload the page. Is the error still there?

It is very

[2020-04-17 19:06] nimasghari commented on #29
Thanks @PippoRJ

When I remove integrity property from all the script elements I no longer get the error and the page fully loads.

I can try a few more times later, and start with a fresh install - though I did try 3 times yesterday.

[2020-04-17 19:44] PippoRJ commented on #29
Good.. I will make same tests hoping to be able to reproduce it.

[2020-04-20 14:03] ticofab commented on #26
Tested today on Slack. It looks awesome :)
<img width="516" alt="image" src="https://user-images.githubusercontent.com/1792917/79760466-64b50b00-8320-11ea-9f53-66c6c51e8261.png">

[2020-04-20 16:28] PippoRJ commented on #26
That's great! : -)

[2020-05-22 13:23] adlucio87 opened #30 "Article title"
Hi,
I'm using your them and thanks, I really like it.
I don't know if it's somethings that I missed or is an issue.
Title in html article page represent always the main website title. I think it could change with main article title.
Thanks
Andrea

[2020-05-22 13:28] PippoRJ commented on #30
Ciao Andrea,
Good catch, I will review it this evening and I will update the theme if necessary.
Cheers

[2020-05-24 12:00] PippoRJ commented on #29
Hi @nimasghari , sorry but I can't reproduce the error, I am going to close the issue.

[2020-05-24 12:00] #29 closed

[2020-05-30 20:41] PippoRJ commented on #30
I have added the page tittle in addition to the site title in the html tag title

[2020-05-30 20:41] #30 closed

[2020-05-31 09:15] adlucio87 commented on #30
Thanks for the support!

[2020-06-04 01:30] kpatnayakuni commented on #23
Hello,

Greetings!

Even, I am also in the same scenario, and still didn't understand the working concept of `summaryImage`; so if we want to use `summaryImage` do we have to create a separate leaf bundle for each post and place the images over there?

Do we have an option to refer to a common location for the summaryImages?

And I have another doubt, what is the images folder where we can keep ou

[2020-06-04 01:35] kpatnayakuni opened #31 "How to use summaryImage? And what is the default images location?"
Hello,

Greetings!

This is in continuation to the existing [Issue # 23](https://github.com/PippoRJ/hugo-refresh/issues/23), even I am also in the same scenario, and still didn't understand the working concept of `summaryImage`; so if we want to use `summaryImage` do we have to create a separate leaf bundle for each post and place the images over there?

Do we have an option to refer to a common l

[2020-06-04 08:29] PippoRJ commented on #31
Hey @kpatnayakuni ,
this folder is an an example of leaf bundle: `hugo-refresh/exampleSite/content/topic_2/example_2_topic_2/`
Yes, to use the `summaryImage` you need to create a leaf bundle for each post and place the image over there.
No, there is no common location to store the summary images.

If you are referring to the option `assetDir`, this is **only** for the images that you specify in th

[2020-06-04 13:36] kpatnayakuni commented on #31
Thank you @PippoRJ! Thanks for the info! Appreciate it.

And sometimes it sticks at the below point and will not up the  server, do you have any idea on this?
[code]

[2020-06-04 13:48] PippoRJ opened #32 "the server is stuck sometimes"
Thank you @PippoRJ! Thanks for the info! Appreciate it.

And sometimes it sticks at the below point and will not up the  server, do you have any idea on this?
[code]

_Originally posted by @kpatnayakuni in https://github.com/PippoRJ/hugo-refresh/issues/31#issuecomment-638851884_

[2020-06-04 13:50] PippoRJ commented on #31
I created a new issue for this other problem so we can close this one.

[2020-06-04 13:50] #31 closed

[2020-06-04 13:53] PippoRJ commented on #32
@kpatnayakuni mmm not sure about this.. it never happened to me.. might caused by the content of your site?

[2020-06-04 14:00] kpatnayakuni commented on #32
Okay, possible.
I will review it. Thanks again for the help and especially the theme, this is indeed awesome. I owe you, my friend🥇😊.

[2020-06-08 09:02] kpatnayakuni opened #33 "Localhost is running fine but the published site pages are not opening"
Hello, I have hosted my site on github pages and it is not loading at all and it freezes at the screen below...
![image](https://user-images.githubusercontent.com/31788728/84007832-96e10180-a98e-11ea-9f66-5affb5c69dd3.png)
With the other theme it is working fine but with this theme it is not working...

But in the localhost it is working fine.

My site repo: https://github.com/kpatnayakuni/blog

M

[2020-06-08 09:05] PippoRJ commented on #33
Hey @kpatnayakuni ,
This is very strange I will have a look and I will let you know..!

[2020-06-08 09:06] #32 closed

[2020-06-08 09:54] PippoRJ commented on #33
Hey @kpatnayakuni

the problem is that the browser is not accepting the "integrity" property of the CSS and JS files.

To solve this, in your `config.yaml` can you try to set the `baseURL` to `https://kpatnayakuni.github.io/` and deploy the result to github?
Let me know if it works.

[2020-06-08 11:47] kpatnayakuni commented on #33
Hi @PippoRJ,

I have added the baseURL, but still no luck. I have updated in the repo, please take a look.

Thank you.

[2020-06-08 12:12] PippoRJ commented on #33
Hey @kpatnayakuni
ok, I need to update the repo with a fix.. I'll do it this evening.. and I will let you know!

[2020-06-09 11:24] kpatnayakuni commented on #33
Hey @PippoRJ

It looks like the brand new site even without adding any content is going to load the pages.

By the way any luck with the fix?

Thank you.

[2020-06-09 11:31] PippoRJ commented on #33
Hey @kpatnayakuni
Sorry about that, I was super-busy yesterday.. I'll do it today!
Cheers

[2020-06-11 03:18] kpatnayakuni commented on #33
Hey @PippoRJ
It worked like charm.
Thank you for your help, appreciate it!

[2020-06-11 06:20] #33 closed

[2020-06-16 00:29] kpatnayakuni opened #34 "Shortcode for link is broken"
Hello @PippoRJ,

Looks like the shortcode for link is broken, it is not opening the hyperlinked page/site, it opens itself in the new tab.

I am using the shortcode syntax as below...

[code]

Looks like there is an issue in rendering the page with this shortcode.

Thank you.

[2020-06-16 00:38] kpatnayakuni commented on #34
I have even tested with the brand new site with this theme but still, it is the same behavior.

[2020-06-16 02:33] kpatnayakuni commented on #34
My bad, I am using `href` again in the shortcode, that's breaking the shortcode. I have corrected and now it is working.

Thank you.

[2020-06-16 03:00] #34 closed

[2020-06-20 09:22] uint16 opened #35 "404 template not working"
Going to wrong url doesn't apply the 404 template

[2020-06-20 09:48] PippoRJ commented on #35
Hey @uint16 ,
this depends entirely on your web server, it does not depends on the theme.
You need to properly configure `nginx` or `apache` or the web server that you are using.
If you are using `hugo server` to try the theme, it will not load your 404 page as written here: https://gohugo.io/templates/404/

[2020-06-20 09:48] #35 closed

[2020-06-20 11:12] uint16 commented on #35
Hi @PippoRJ Thank you so much, I somehow missed that  when reading through the docs!

Cheers.

[2020-06-27 12:52] kpatnayakuni opened #36 "Search Options"
Hey @PippoRJ

Just wondering, is there an option to enable the search feature in the theme?

And do you have any plans to implement the search bar in the near future?

Thank you,
Kiran P.

[2020-06-28 10:57] PippoRJ commented on #36
Hey @kpatnayakuni ,
unfortunately this is not in my plans for the near future... I need to understand how to do that.. and where to place it in the page... not sure that yet.. and therefore it might take a big while..
Cheers

[2020-06-28 17:54] kpatnayakuni commented on #36
Hey @PippoRJ ,
Completely understandable. Not an issue!
Thank you.

[2020-06-28 17:54] #36 closed

[2020-07-09 00:16] artfisica opened #37 "Issues getting the building to generate a good page"
Hi!

Awesome project! thank you.

I have an issue getting the building of the page.

When I use `hugo server`, it looks good :)

But when using `hugo` I got unformatted pages, like the pic attached.

<img width="977" alt="Screenshot 2020-07-09 02 03 09" src="https://user-images.githubusercontent.com/8846121/86982659-1cbcbc00-c18a-11ea-9b66-152974d3c75f.png">

Have you seen this before?
Thanks

[2020-07-09 13:47] artfisica commented on #37
Hi!

Just to give you more context:
This happens when I want to build the repo as it is. I did not modify anything. I simply run `hugo` and try to open the `public/index.html in my browser.

Cheers

[2020-07-09 14:06] PippoRJ commented on #37
Hey @artfisica
yes, that is normal. This is because when you open like that it is not loading all the resources that the page is supposed to be loading (no js, no css).
If you move those files to a web server it is going to work fine as running `hugo server`
Cheers

[2020-07-11 07:06] #37 closed

[2020-07-11 07:55] artfisica commented on #37
Thanks! I used the base URL in the right way. Your comment help me.

[2020-07-15 05:18] rajganeshp opened #38 "not loading the full site in netlify"
I like this theme and it works locally, but when i publish to netlify, it's not loading the center content completely. it keeps loading.
it show the menu correctly.

[2020-07-15 11:35] PippoRJ commented on #38
Hey @rajganeshp
I don't use netlify so I am not sure how can I help you but some time ago another user had a problem with netlify.
Have a look here https://github.com/PippoRJ/hugo-refresh/issues/11 and https://github.com/PippoRJ/hugo-refresh/issues/12 and let me know if this helps.
Otherwise you can post here the error maybe we can have a look together.

[2020-07-15 12:55] rajganeshp commented on #38
thank you for quick response. i am not getting an error. the images are not
loading. take a look at this. https://priyaselvakumar.netlify.app/

On Wed, Jul 15, 2020, 6:36 AM PippoRJ <notifications@github.com> wrote:

[2020-07-15 13:00] PippoRJ commented on #38
ah, I see now.
Set the `cssIntegrity` to `false` and `jsIntegrity` to `true` on your `config.yaml`
Let me know if this solves the issue.

[2020-07-15 13:39] PippoRJ commented on #38
you might have also not correctly setup the variable `baseURL` on your `config.yaml`.
Check that as well.

[2020-07-15 13:41] rajganeshp commented on #38
will check shortly. but what should it be? have two othwr sites with
different themes and i didn-'t change anything.

thanks

On Wed, Jul 15, 2020, 8:39 AM PippoRJ <notifications@github.com> wrote:

[2020-07-15 13:54] PippoRJ commented on #38
In your website you have this error:

So the integrity property makes the resource not accepted.
(You can have more info on the `integrity` here: https://developer.mozilla.org/en-US/docs/Web/Security/Subresource_Integrity)
(Other themes may not set the integrity property, thus they work regardless of your settings.)

The integrity property is also affected by the `baseURL` property of your `config

[2020-07-15 14:47] rajganeshp commented on #38
I made the changes as below but still it's not loading.
https://priyaselvakumar.netlify.app/    anything else I can check. or is
there another free site i can deploy and try.

baseURL: https://priyaselvakumar.netlify.app
languageCode: en-us
title: Personal website and blog
theme: hugo-refresh
# theme: ../..

cssIntegrity: false
jsIntegrity: false

https://priyaselvakumar.netlify.app/

On Wed, Jul

[2020-07-15 14:54] PippoRJ commented on #38
Can you make your site repository visible? and give me the github address.
I will have a look.

[2020-07-15 14:59] PippoRJ commented on #38
If your `config.yaml` is similar what you posted you have to check again the parameters `cssIntegrity` and `jsIntegrity` here: https://github.com/PippoRJ/hugo-refresh/blob/master/exampleSite/config.yaml

Those settings are nested settings under `params`.

[2020-07-15 15:04] rajganeshp commented on #38
i don't have the config and stuff and just publish the public folder.
https://github.com/rajganeshp/priya

I can send zip and send the whole folder if you want.

Raj

On Wed, Jul 15, 2020 at 9:55 AM PippoRJ <notifications@github.com> wrote:

[2020-07-15 15:06] PippoRJ commented on #38
Unfortunately I need the whole project including the config because otherwise I can't understand what's going on.

[2020-07-15 15:22] rajganeshp commented on #38
Thanks for your support. I like to use this template as it's simple and
elegant. you can download the whole project from this link.
https://drive.google.com/file/d/1245xw---wz-rlTbluzk29FJ4C9inBjpV/view?usp=sharing

On Wed, Jul 15, 2020 at 10:12 AM PippoRJ <notifications@github.com> wrote:

[2020-07-15 15:48] PippoRJ commented on #38
The repo looks good.
Are you sure you loaded the latest version correctly?
In your https://github.com/rajganeshp/priya/blob/master/index.html there is no `integrity` property in the source code while in your https://priyaselvakumar.netlify.app/ there is. So it seems that you only loaded on netlify the old version.

[2020-07-15 19:36] PippoRJ commented on #38
I am glad you were able to make it work!
At the moment I don't have plans for adding those features but maybe in the future I will..!

The only colour you can change is the `mainColour` (on your `config.yaml`) parameter to change the main colour of the theme..!

[2020-07-15 19:36] #38 closed

[2020-07-15 19:56] rajganeshp commented on #38
thanks again. is it possible to add blogs?

On Wed, Jul 15, 2020 at 2:36 PM PippoRJ <notifications@github.com> wrote:

[2020-07-15 20:02] PippoRJ commented on #38
Hugo produces static websites so it does not have a database to store comments and reply.

If by "blog" you mean a place where people can comment and you can reply then this it is not possible.

If by "blog" you mean a place where you can store your own articles then yes, this theme is done exactly for that. Have a look at the example website and try to add your own article.

[2020-07-19 12:35] WLun001 opened #39 "how to add button for switching language"
Hi, I am new to `hugo`, wondering how to add a button on nav bar for switching language

[2020-07-19 15:37] PippoRJ commented on #39
That's a good idea..! I'll work on that..!

[2020-07-19 15:38] WLun001 opened #40 "How to add tracking code"
How to add tracking code like Google Analytics ?

`layouts/partials/counter.html`

Is it paste the entire script there?

[code]

[2020-07-20 07:32] PippoRJ commented on #40
Yes, exactly..!

[2020-07-20 14:08] #40 closed

[2020-07-23 18:31] kpatnayakuni opened #42 "How to increase list item font size?"
Hello @PippoRJ

Greetings!!

How to increase list item font size in the content page? I couldn't find it in any *.css file, can you please assist me?

Thank you,
Kiran P.

[2020-07-23 18:43] ticofab commented on #42
I remember doing something similar in my branch. See this changelist, maybe it helps: https://github.com/ticofab/hugo-refresh/commit/e4de3fe54f76e66a28cf5d142bf101eac0823461

[2020-07-23 18:53] kpatnayakuni commented on #42
Perfect! That world with `li`.

Thank you @ticofab !

[2020-07-23 18:53] #42 closed

[2020-07-23 18:54] PippoRJ commented on #42
Thank you @ticofab for posting the solution!

[2020-07-23 19:16] ticofab commented on #42
Glad it helped!

[2020-07-26 06:36] vBuresh commented on #39
Great! Very necessary

[2020-07-26 07:49] vBuresh opened #43 "linter asks... (about style.sass)"
Hi!

Thanks for the excellent theme! I like it and very glad to see how it progressing.

When viewing the source code of the file `/themes/hugo-refreshing/assets/style.sass` linter asks to check the correctness of the block starting from line 4 (Fatal)

! [screenshot - 87,6 kb](https://drive.google.com/file/d/1ccHoEMPoSqHKY5Q0pAsaQA1Jn5wkRKrw/view?usp=sharing)

It looks like the linter has noticed

[2020-07-26 22:35] PippoRJ commented on #43
Hey @vBuresh ,
Thanks!

So, the file `style.sass` is processed by hugo before been used to create the css files. Hugo will change the string `{{.Site.Params.mainColour}}` with the concrete value specified in the configuration file. The file that result from that is a file that shouldn't produce any linter problem.

If you analize the file `style.sass` before the substitution step, the linter is no

[2020-07-27 03:41] vBuresh commented on #43
Thanks for the detailed clarification.

It's a pleasure to use the Hugo **ReFresh** theme designed so elegantly and professionally.

It's really great!

[2020-07-27 03:45] #43 closed

[2020-09-11 17:34] rajganeshp commented on #38
Hi PippoRJ -

Is there a way to hide summary image for blog style articles?

Raj

On Wed, Jul 15, 2020 at 9:47 AM Rajganesh Pandurangan <prajganesh@gmail.com>
wrote:

[2020-09-11 18:03] PippoRJ commented on #38
Hi Raj,
Unfortunately it is not possible to hide the summary images at the moment.

[2020-09-11 18:07] rajganeshp commented on #38
Thanks for your reply. One more quick question. Where do I store the image
to render in blogs? I have an image in same directory and the blog. But
it's not rendering in browser. Any best practice I should follow?

[image: image.png]

On Fri, Sep 11, 2020 at 1:03 PM PippoRJ <notifications@github.com> wrote:

[2020-09-11 20:36] rajganeshp commented on #38
I figured out the image issue. Do you know if  it's possible to embed
Airtable forms in Hugo?

Thanks again for your help.
Raj

On Fri, Sep 11, 2020 at 1:03 PM PippoRJ <notifications@github.com> wrote:

[2020-09-11 22:00] PippoRJ commented on #38
Hey Raj,
unfortunately I don't know much about Airtable but it should be possible.. maybe you can embed it as an iframe...

[2020-09-11 22:04] rajganeshp commented on #38
Yeah tried, but it doesn't show in the site. thanks thought

<iframe class="airtable-embed" src="
https://airtable.com/embed/shronU9awLU25xAiK?backgroundColor=blue"
frameborder="0" onmousewheel="" width="100%" height="533"
style="background: transparent; border: 1px solid #ccc;"></iframe>

On Fri, Sep 11, 2020 at 5:00 PM PippoRJ <notifications@github.com> wrote:

[2020-09-12 22:51] rajganeshp commented on #38
Thanks for simple and clean template. My site is coming on great.
Www.connectthoughts.com

Do you know easy way to create analytics?

RAJ

On Fri, Sep 11, 2020, 5:00 PM PippoRJ <notifications@github.com> wrote:

[2020-09-13 01:22] rajganeshp commented on #38
figured it out. thanks.

On Sat, Sep 12, 2020 at 5:51 PM Rajganesh Pandurangan <prajganesh@gmail.com>
wrote:

[2020-09-15 22:09] ticofab opened #44 "showInMenu not working?"
Hi @PippoRJ , I believe I have found an issue.
Within `content`, I have a folder called `projects`. I would like to hide that folder in the top-tight menu. So the folder contains an `_index.md` file (`index.md` without a preceding underscore won't work) which contains
[code]
Directory with file is here: https://github.com/ticofab/blog/tree/master/content/projects
The issue is that even with the `s

[2020-09-16 06:24] PippoRJ commented on #44
Hey @ticofab , I believe that `showInMenu` works only with single pages and not with folders..
but that's absolutely a great suggestion and something that I need to add..! I'll try to work on it as soon as I can.!

[2020-09-16 08:34] ticofab commented on #44
Oh that explains it - and thanks for considering the suggestion!

[2020-09-20 09:19] ticofab opened #45 "Post preview on Linkedin (feature request or guidance request)"
Hey @PippoRJ , a while ago you made some changes that let the post preview show up on twitter and that was awesome.
Now I have tried to share something on LinkedIn but it didn't have the same card preview effect.

Would it be a lot of work to make it Linkedin-compatible too? I would like to help, with some guidance from your side.

[2020-09-20 16:03] PippoRJ commented on #45
Hey @ticofab
I believed it was already possible to share a page with the correct preview on linkedin.
I had a look at the requisites to have here: https://www.linkedin.com/help/linkedin/answer/46687/making-your-website-shareable-on-linkedin?lang=en&src=aff-lilpar&veh=aff_src.aff-lilpar_c.partners_pkw.123201_plc.adgoal%20GmbH_pcrid.449670_learning&trk=aff_src.aff-lilpar_c.partners_pkw.123201_plc.ad

[2020-09-20 16:59] PippoRJ commented on #44
Hey @ticofab so I have pushed a fix that will now make `showInMenu` option to work also on folders.
Please give it a try and let me know.

[2020-09-20 19:12] rajganeshp commented on #38
I created a short video series on using your template to create static
sites. I did it for my own benefit, and it's not very good. but thought
will share it with you.

https://www.youtube.com/watch?v=lTl90CfyNhg&list=PL8x5iLUAOOYptYJqZRDofemCe8Jk5UqPN

On Sat, Sep 12, 2020 at 5:51 PM Rajganesh Pandurangan <prajganesh@gmail.com>
wrote:

[2020-09-20 19:55] PippoRJ commented on #38
Hey @rajganeshp that is amazing..!

Thanks a lot for sharing!

[2020-09-20 19:57] rajganeshp commented on #38
If it helps 10 people, I'll be happy :) I need to become better at
presenting. Thanks for getting back to me. talk to you, later.

On Sun, Sep 20, 2020 at 2:55 PM PippoRJ <notifications@github.com> wrote:

[2020-09-20 19:58] ticofab commented on #45
@PippoRJ I am sorry, it was my bad indeed. It works perfectly on LinkedIn too and thanks for the post inspector tip. Awesome! Thanks for taking the time to look into all this so thoroughly. Do you have a GitHub Sponsor profile?

[2020-09-20 19:58] #45 closed

[2020-09-20 20:20] ticofab commented on #44
Hey @PippoRJ , pulled the fix and it does the job perfectly. Another perfect and swift improvement from your side. Thanks a lot!

[2020-09-20 20:20] #44 closed

[2020-09-20 20:23] PippoRJ commented on #44
You are always welcome..! Thanks for your new ideas!

[2020-09-20 20:27] PippoRJ commented on #45
@ticofab I don't have a GitHub Sponsor profile yet... I didn't know it was a thing to be honest 😄 😄
I submit the application now but it will take 2 week to be approved they say.

[2020-09-24 19:44] rajganeshp commented on #38
Is there a limit on how many articles it can show in a page?
https://www.connectthoughts.com/articles/

I have one more article and it's not showing up.

Thanks,
Raj

On Sun, Sep 20, 2020 at 2:55 PM PippoRJ <notifications@github.com> wrote:

[2020-09-24 19:49] rajganeshp commented on #38
ignore my previous email.

On Thu, Sep 24, 2020 at 2:44 PM Rajganesh Pandurangan <prajganesh@gmail.com>
wrote:

[2020-10-04 11:19] ticofab opened #46 "Advice on twoVideos"
Hey @PippoRJ , I could use your advice: I am trying to write a `twoVideos` shortcode and would love it to behave like your `twoFigures` and eventually open a PR to see if you want to merge it.
However I'm getting stuck with something. The code of my `twoVideos.html` is:

[code]

But the iframes are displayed too short, their height is stuck at 150.
I tried everything and my best guess is that some

[2020-10-04 15:46] PippoRJ commented on #46
Hey @ticofab
It seems to be correct at first sight.. let me try and let's see what can be the issue..

[2020-10-04 18:39] ticofab commented on #46
Thanks @PippoRJ . I have been experimenting more and in fact I've had troubles resizing youtube's iframe _at all_, and that's something with Hugo rather than your wonderful theme.
So don't spend too much time checking this out and totally feel free to close this issue altogether. Cheers!

[2020-10-05 19:48] stuartlupton opened #48 "Google Analytics Integration"
Hi,

Does your template have support for enabling integration with Google Analytics?

[2020-10-05 19:49] stuartlupton opened #49 "Commenting integration for Blog posts"
Hi,

Does your template have support for enabling a commenting plug-in such as Disqus?

[2020-10-06 06:54] PippoRJ commented on #48
Hey @stuartlupton ,
yes, you can add it on the `layouts/partials/counter.html` page.

[2020-10-06 06:54] #48 closed

[2020-10-06 06:58] PippoRJ commented on #49
Hey @stuartlupton
at this very moment I don't have any specific shortcode for that... but it seems a very nice addition to my theme... I will look at it to see how I can integrate it..! I will let you know once done..!

[2020-10-06 08:03] stuartlupton commented on #49
Thanks @PippoRJ
The theme hugo-theme-hello-friend has this feature integrated perhaps there are some idea's here

Keep up the fantastic work :)

[2020-10-06 08:11] stuartlupton commented on #48
Hi @PippoRJ please can you provide some sample code to get this working?

[2020-10-06 11:48] PippoRJ commented on #48
Hey @stuartlupton
so you need to modify the file `layouts/partials/counter.html` of this theme.
In this file you need to place your google tracking code.

To find your google tracking code follow this:
https://support.google.com/analytics/answer/7476135?hl=en

The google tracking code it is something like:
`

<script async src="https://www.googletagmanager.com/gtag/js?id=XX-XXXXXXXXX-X"></script>

[2020-10-06 14:20] PippoRJ commented on #46
Hey @ticofab I have something for you :)

[code]

I think it is a mess to find the right CSS style but it should be ok now.

For your reference I was following this post:
https://jameshfisher.com/2017/08/30/how-do-i-make-a-full-width-iframe/#:~:text=Unlike%20s%2C%20%3C,a%2016%3A9%20aspect%20ratio.

I am not sure all the `div` and classes are needed but I will do more trials...

The css are correct

[2020-10-06 14:53] PippoRJ commented on #49
Hey @stuartlupton
I was looking at https://github.com/panr/hugo-theme-hello-friend/blob/master/layouts/partials/comments.html but it only says to use the standard hugo comment integration described here: https://gohugo.io/content-management/comments/
Did you try to use this?

[2020-10-06 18:34] ticofab commented on #46
You are a magician @PippoRJ ! It seems to work perfectly. Do you plan to make a release with this shortcode?

[2020-10-06 18:34] #46 closed

[2020-10-06 21:02] PippoRJ commented on #46
: -) yes I'll release it as soon possible..!

[2020-10-10 07:51] PippoRJ commented on #46
Hey @ticofab ,
I have pushed the twoVideos shortcode to the repo..! I have added some parameters to customize them a bit, those parameters are on the readme...!

[2020-10-10 08:06] ticofab commented on #46
Thanks @PippoRJ , I synced my fork already :)

[2020-10-14 21:17] jaysgrant opened #51 "Error when trying to build a site using this theme."
Please forgive what is probably a very newbie type question.

I'm following the steps at https://gohugo.io/getting-started/quick-start/ to get accustomed on how Hugo works, and I really like this theme.

When I try to run either hugo server -D, or hugo -D I receive the following error output. I'm running this on Windows 10.

I have confirmed that it does work using the ananke theme that the quick

[2020-10-14 21:22] jaysgrant commented on #51
Reread the documentation, and solved my own problem. I hadn't curled down the proper config file. Closing this.

[2020-10-14 21:22] #51 closed

[2020-10-14 21:34] PippoRJ commented on #51
Happy that you were able to solve it..!

[2020-10-17 20:17] PippoRJ commented on #39
Hey @vBuresh  @WLun001 ,
I finally added the switch button to the theme.. it's not final... it will now redirect you to the homepage regardless the page you are current visiting.. but it's a good start I think.. I hope you like it..!
let me know what do you think..!

[2020-10-18 05:49] WLun001 commented on #39
Hi @PippoRJ , where can I view it?

[2020-10-18 09:01] PippoRJ commented on #39
I have pushed a new update on the theme... I think you need to pull to have access to it..

Anyway, I will be a `<select>` on the top right part of the menu:
![Screenshot from 2020-10-18 09-56-48](https://user-images.githubusercontent.com/11695618/96362919-c23be000-1128-11eb-8b29-60c7f24268a0.png)

When open the menu it will shop as this:
![Screenshot from 2020-10-18 09-58-11](https://user-images.

[2020-10-18 10:01] vBuresh commented on #39
Great! Thanks

[2020-10-18 13:10] PippoRJ commented on #39
I have modified the look because it was not showing nice on device
![Screenshot from 2020-10-18 14-09-18](https://user-images.githubusercontent.com/11695618/96368389-8bc38c80-114b-11eb-8c29-5327f5bcbce3.png)

[2020-10-18 13:10] #39 closed

[2020-10-19 05:34] WLun001 commented on #39
@PippoRJ looks nice! thanks

[2020-10-20 10:43] vBuresh commented on #39
It much better! Thanks

[2020-10-20 10:46] PippoRJ commented on #39
@vBuresh glad you like it!

[2020-12-25 13:10] Ayman-Barghout opened #52 "enable dark mode"
Thanks for the awesome theme, I am having a blast using and customizing it.
My only issue is there is no way to configure dark mode for my website, as a new user to both Bulma css and Hugo itself I am trying to customize the theme to use have dark mode enabled but to no avail.
Any help or directions would be highly appreciated and thanks again for taking your time to provide this great theme for f

[2020-12-28 20:00] PippoRJ commented on #52
Hey @Ayman-Barghout ,
Thanks, I am glad you like it..!
At the moment, in the theme, there are no configuration options to configure the dark mode.. It would be cool to add this..!
Were you looking to have a button on the page to switch it on the fly? Or a configuration option on Hugo?

[2020-12-28 20:23] Ayman-Barghout commented on #52
Thanks for the quick response!
It would be better if the colors can be configured for each in a CSS file but that's not a priority.
So, either would do, do you have any idea of how this can be implemented?

[2020-12-28 21:26] PippoRJ commented on #52
Yeah the configuration would be easier I guess..
We will need identify the colors to change in the .sass files... And then add them to the main configuration file.. but if you identify the colors to change will be already a great help for me...

[2020-12-28 22:09] Ayman-Barghout commented on #52
Will do.

[2021-01-14 19:13] cloudrace opened #53 "Google Analytics integration"
Hi,

Thank you for this awesome theme. Much helpful.

Updated the googleAnalytics tag in the config.yaml file and also changed layout/partials/custom_head.html to include     {{ template "_internal/google_analytics.html" . }}.

However the integration is not successful.

Could you please advice what I am missing?

Thanks!

[2021-01-14 19:23] PippoRJ commented on #53
Hey @cloudrace thanks!
I think you need to enter your Google statistic counter code into the layouts/partials/counter.html
I don't think you need to change any config settings.
Let me know how it goes

[2021-01-14 19:27] cloudrace commented on #53
Hi,

I did try that. And it did not work. Reference [here](https://github.com/cloudrace/cloudrace.github.io)

[2021-01-14 19:30] cloudrace commented on #53
If I understand this correctly, the index.html files should be created with the google analytics script? I dont see them being used after I run hugo

[2021-01-14 19:30] PippoRJ commented on #53
It seems correct how you did it on your reference.. where do you deploy your code? What is the address of your site?

[2021-01-14 19:32] cloudrace commented on #53
[cloudrace.info](https://cloudrace.info)

[2021-01-14 19:40] PippoRJ commented on #53
when running `hugo server -D` I see these warnings:

[2021-01-14 19:47] cloudrace commented on #53
I do not see any.

Here is my successful run
![image](https://user-images.githubusercontent.com/76705579/104641157-69bca600-5677-11eb-8c95-5b7507cfed6b.png)

[2021-01-14 19:58] PippoRJ commented on #53
which version of hugo are you using?

[2021-01-14 19:59] cloudrace commented on #53
Hugo Static Site Generator v0.80.0/extended linux/amd64 BuildDate: 2020-12-31T20:02:59Z

[2021-01-14 20:11] PippoRJ commented on #53
I got the error now.
You need to modify the page `layouts/partials/counter.html` of the theme not of your site.
You need to modify the file `cloudrace.github.io/themes/hugo-refresh/layouts/partials/counter.html` and not the file `cloudrace.github.io/layouts/partials/counter.html`.
You can delete the file `cloudrace.github.io/layouts/partials/counter.html` it is not used.

[2021-01-14 20:13] cloudrace commented on #53
Thank you. Let me try that.

[2021-01-14 20:19] cloudrace commented on #53
That worked perfectly. Thank you so much for your time. Sincerely appreciate it.

[2021-01-14 20:19] #53 closed

[2021-01-14 20:23] cloudrace commented on #53
Please accept my sincere one time sponsorship. Thank you so much. You saved me a ton of time. Please keep up the great work

[2021-01-14 20:24] PippoRJ commented on #53
No worry at all! Glad to help!

[2021-01-23 08:29] dharmjit opened #54 "Mermaid.js support for diagrams(sequence, graphs, charts etc.)"
Hi, Thanks for the awesome theme 👍 . Really like it . Are are thinking to include diagram support via mermaid.js.

[2021-01-23 10:55] dharmjit opened #55 "Use markdown code syntax highlighting with three backticks"
Hi, Is it possible to use three backticks for code syntax highlighting with this themeas in below example. I need to use `{{< codeWide language="go" >}}` but wit this I loses highlighting in VS Code.
\```go
package main

import (
	"fmt"
	"time"
)
func main() {
	go hello()
	time.Sleep(time.Second * 1)
}
func hello() {
	fmt.Println("Hello World")
}
\```

[2021-01-23 12:30] PippoRJ commented on #55
Hey @dharmjit ,
Yes, VS Code is not able to highlight the syntax between the `codeWide` elements.
You can still see the highlight in the rendered page.

[2021-01-23 12:36] PippoRJ commented on #54
Hey @dharmjit thanks.
I have not planned yet any specific support for that. I believe you can add the that js in the custom head section so you can use it in the normal pages. Let me know how it goes.

[2021-01-23 16:06] dharmjit commented on #54
Hi @PippoRJ , It kind of worked by adding shortcode and mermaid.js. There are still some style issues. Is it in the roadmap to add mermaid support.

[2021-01-24 16:39] #55 closed

[2021-01-24 16:46] PippoRJ commented on #54
Hey @dharmjit ,
no, it is not in the roadmap unfortunately. There are too many JS libraries and trying to support all of them will become impossible to deal with especially if they have conflicts.
Feel free to change the style will make mermaid works, of course.

[2021-01-24 18:02] #54 closed

[2021-01-25 12:09] dharmjit opened #56 "hugo --minify failed with TOCSS error"
Hi, I am not sure what causes this error. I am using `Hugo Static Site Generator v0.79.1/extended windows/amd64`, hugo server command is running successfully and I am able to access the site on localhost. When I run `hugo --gc --minify`, I am getting below error.
[code]

Has someone faced the same error. Thanks in advance.

[2021-01-25 18:43] PippoRJ commented on #56
Hey @dharmjit ,
I have google for the error and it seems to be a problem of `hugo` itself rather than my theme. Not 100% sure tho, please let me know if you find a solution for this.
An alternative solution to minify JS is to use the option `jsMinify: true` in the `config.yaml`.
Let me know how it goes.

[2021-01-27 17:10] dharmjit commented on #56
@PippoRJ , I tried changing the params but it does not work. Do you think the first comment in https://discourse.gohugo.io/t/problem-chaining-tocss-and-postcss/24260 can be related to this.

[2021-01-28 17:31] #56 closed

[2021-01-28 18:10] PippoRJ commented on #56
Hey @dharmjit , did you find a solution for that?
Please post it, so that other people could benefit from it.

[2021-01-28 18:11] PippoRJ commented on #49
closed due to inactivity

[2021-01-28 18:11] #49 closed

[2021-01-29 08:05] dharmjit commented on #56
It was a silly mistake. Some files from the other theme I was evaluating.

[2021-01-29 09:24] dharmjit opened #57 "How to create Tiles as in demo application"
Hi, Is it possible to create **tiles** as in https://rjordaney.is/about/ under Interests section for skills.

Thanks

[2021-01-29 09:31] PippoRJ commented on #57
Hey @dharmjit ,

yes you can create those.
Unfortunately I haven't created a shortcode yet, but you can use this code directly in your `.md` file:
`<a><span class="tag title is-6 is-light">Machine Learning</span></a>`

Thanks for the suggestion, I am going to create a shortcode for it.

[2021-01-29 10:08] dharmjit commented on #57
Need to use below to make raw html rendering
[code]

[2021-01-29 10:10] PippoRJ commented on #57
oh yes, that's correct. Good spot.

[2021-02-04 17:27] #57 closed

[2021-02-24 18:47] Michel69-de opened #58 "Language switch"
First of all, i love your theme.
[My site](https://www.schiraumtechnik.com) stuck on Drupal 7 and i plan to rebuild it with hugo.
I also have startet a [food blog](http://kitchen.fuchsia-lodge.de) for my wife and your theme matches best.
For now i have some trouble getting [List All Available Languages](https://gohugo.io/content-management/multilingual/#list-all-available-languages) and [Reference

[2021-02-25 09:17] PippoRJ commented on #58
Hey @Michel69-de thanks!
So, those links concerns about the development of a theme... they are not really about writing the content using a theme.
There are 2 ways of translating the content of a theme: https://gohugo.io/content-management/multilingual/#translate-your-content
What I can suggest is writing the pages using this feature https://gohugo.io/content-management/multilingual/#translation-b

[2021-02-25 09:31] PippoRJ opened #59 "Adding German to languages"
Hey @Michel69-de

I would like to add the German language to my theme, I was wandering if you think that these translations are correct:

"Read more" --> Weiterlesen
"Menu" --> Menü
"All Tags" --> Alle Stichworte
"Tags" --> Stichworte
"Last modified" --> Zuletzt geändert
"Website" --> Webseite
"Credits" --> Credits
"Copyright" --> Copyright
"Contacts" --> Kontakte
"Homepage" --> Homepage

(I hope

[2021-02-25 11:24] Michel69-de commented on #59
My wife suggest to translate Credits --> Impressum

The rest shoud be fine.

"Read more" --> Weiterlesen
"Menu" --> Menü
"All Tags" --> Alle Stichworte
"Tags" --> Stichworte
"Last modified" --> Zuletzt geändert
"Website" --> Webseite
"Credits" --> Impressum
"Copyright" --> Copyright
"Contacts" --> Kontakte
"Homepage" --> Homepage

[2021-02-25 11:49] Michel69-de commented on #58
I think i have to make the Issue more clearly.

I do have translated content by filename.

If I put the following Code in your _navbar.html_  and a translation exist, **.Permalink** points to the translated page. Otherwise the link dont appear.

``
`<ul>`
`   {{ range .Translations }}`
`    <li>    <a href="{{ .Permalink }}">{{ .Lang }}</a>`
`    {{ end }}`
`</ul>`
``

`                {{ range $.

[2021-02-25 13:01] PippoRJ commented on #59
amazing thanks... I have included the language translation file now..!

[2021-02-25 13:01] #59 closed

[2021-02-25 13:24] PippoRJ commented on #58
I think you need to share the code otherwise it will be difficult for me to understand. Can you make your github repo public?

Where do you want to put this code?

[2021-02-25 15:00] Michel69-de commented on #58
I'm new to GitHub and don't have a repo. Sorry for the inconviniences I may caused.
[I try to use your code](https://github.com/PippoRJ/hugo-refresh/commit/b19389b375a456f29146dc0311133976af9537b1)
Hope that's ok.

[2021-02-25 15:48] PippoRJ commented on #58
No problem at all... of course you can use and modify the code as you please..
I have commented the on code link you posted.. let  me know if it helps

[2021-02-25 16:21] Michel69-de commented on #58
Thanks so far but that is not the point I mean. Let me think about another way to explain it.

[2021-02-25 16:50] Michel69-de commented on #58
Abstract:
There is a multilingual Website. For this Website there has to be a Language switch. If a translation exists, i can use the Language switch to get onto the translated page.
Maybe not all pages will be translated in all used languages. If so, the Language switch should exist anyway and should get me to the frontpage.

[2021-02-25 17:27] PippoRJ commented on #58
I think I understood:

`
                  {{ $allLanguage := slice }}
                  {{ $translatedLanguage := slice }}
                  {{ range $.Site.Home.AllTranslations }}
                    {{ $allLanguage = $allLanguage | append .Language.Lang }}
                  {{ end }}
                  {{ range .Translations }}
                    {{ $translatedLanguage = $translatedLanguage | a

[2021-02-25 17:41] PippoRJ commented on #58
I pushed it to the theme.... you can use it now!

[2021-02-25 19:27] Michel69-de commented on #58
Bravo! That's exactly it!

[2021-02-25 20:15] #58 closed

[2021-03-03 15:36] Michel69-de opened #60 "custom summaryImage"
I run in an rebuild failure while mistyping the filename of **summaryImage** in **Page-level Params**.
The following modificationes uses the **defaultImage** if the filename is mistyped:

layouts/partial/single/summary.html
[code]

layouts/partial/meta.html
[code]

[2021-03-04 09:15] PippoRJ commented on #60
hey @Michel69-de,
yeah that a good suggestion..!
But I think I won't include this in the theme because I prefer the user to be notified straight away about the error... Especially if someone is using automated deploy pipelines (e.g.: Netlify) they might realise the mistake very late..

[2021-03-04 09:31] Michel69-de commented on #60
o.k.

[2021-03-04 09:35] #60 closed

[2021-03-06 09:53] Michel69-de opened #61 "resize "summaryImage"'s on "All Tags" page"
I found an issue on the **All Tags** page. The summary boxes of different tags do have different sizes. is this a bug or a feature?

![Refresh-resize-all_tags](https://user-images.githubusercontent.com/79600221/110202438-e8101a00-7e68-11eb-98db-e93118bcc6bb.jpg)

[2021-03-06 10:08] PippoRJ commented on #61
Hey @Michel69-de that's definitely not a feature! XD
What browser/version are you using?
I can see the problem in the android version of Chrome (using "Desktop Site") but not in the desktop version of Chrome..

[2021-03-06 10:32] Michel69-de commented on #61
Win10
Google Chrome
Version 89.0.4389.82 (Offizieller Build) (64-Bit)

Opera
Version:74.0.3911.203

Microsoft Edge
Version 89.0.774.45 (Offizielles Build) (64-Bit)

MacOS
Safari
Version 14.0.3 (16610.4.3.1.4)

It seems to happen on screen width between 769px-1023px but only on the **All Tags** page so in my opinion there is something with the usage of the responsive settings.

[2021-03-06 13:25] Michel69-de commented on #61
After some research i found this:
Comparing *layouts\\_default\terms.html* with *layouts\\_default\list.html* I found an extra `<div></div>` container.

    layouts\_default\terms.html

    12 -   <div class="columns">
    32 -   </div>

After removing it looks like its fixed.

[2021-03-06 17:27] Michel69-de opened #62 "Issue with Leaf Bundle organization"
I don't know if its a Theme or a Hugo Issue

As I understand, I can have an index.md and a 1.md in the same directory.
https://gohugo.io/content-management/page-bundles/#examples-of-leaf-bundle-organization

Tried to do so

    \content\topic_2\subtopic_4\example_2_subtopic_4\index.md
    \content\topic_2\subtopic_4\example_2_subtopic_4\1.md

I can access

    http://localhost:1313/topic_2/subtopi

[2021-03-07 11:09] PippoRJ commented on #61
Hey @Michel69-de  yes, that fixed it!
Amazing thanks! If you open a pull request I can attribute the fix to you...!

[2021-03-07 11:30] PippoRJ commented on #62
Hey @Michel69-de , I don't know tbh...
I don't think is a theme issue.. I didn't modify anything of this behaviour..
You may want to report it here: https://github.com/gohugoio/hugo/issues

I tried to name the `.md` file with string names and they seems to work fine... maybe there is a problem with numbers as names..

[2021-03-07 13:44] Michel69-de commented on #62
If i name it

    \content\topic_2\subtopic_4\example_2_subtopic_4\index.md
    \content\topic_2\subtopic_4\example_2_subtopic_4\content1.md

-> same result. contend1 will not be created .

I tried it on hugo v0.81.0-59D15C97+extended windows/amd64 BuildDate=2021-02-19T17:07:12Z VendorInfo=gohugoio

[2021-03-07 14:17] Michel69-de commented on #61
As I mentioned I'm new to github and don't know much about _pull request_ and stuff like that.
My intension is to save other peoples livetime by sharing my recognitions so I would welcome it if you like to share.

[2021-03-07 15:27] PippoRJ commented on #61
yeah that's always welcome!

[2021-03-07 15:27] #61 closed

[2021-03-07 15:39] PippoRJ commented on #62
I think Leaf bundle produce html page only from the `index.md`
Just above here https://gohugo.io/content-management/page-bundles/#leaf-bundles you can see a table.. look at the last row "Content from non-index page files…"

[2021-03-07 16:28] Michel69-de commented on #62
content/
├── about
│   ├── index.md
├── posts
│   ├── my-post
│   │   ├── content1.md
│   │   ├── content2.md
│   │   ├── image1.jpg
│   │   ├── image2.png
│   │   └── index.md
│   └── my-other-post
│       └── index.md
│
└── another-section

In **my-post** there are an **index.md** and **contend1.md** and **contend2.md**

For testing i used an other theme an it worked like expected. Maybe one tim

[2021-03-07 17:21] PippoRJ commented on #62
I think that organization might be seen as section/sub-sections:
https://gohugo.io/content-management/sections/

I organised my website as branch bundle --> leaf bundle
https://gohugo.io/content-management/page-bundles/

This might also be useful:
https://gohugo.io/content-management/organization/

[2021-03-08 13:42] Michel69-de commented on #62
Figured out the following:
The theme has some restrictions like [this one](https://github.com/PippoRJ/hugo-refresh/issues/62#issue-823701124).
E.g. its not possible to use different list templates in sections. Maybe the theme has an influence on [lookup order](https://gohugo.io/templates/lookup-order/).
God to know it.
You can close this issue.

[2021-03-11 10:42] #62 closed

[2021-03-23 12:06] JohnTrunix opened #63 "Question: Where can I make a similar avatar like the girl on the frontpage?"
May can I ask you which tool did you use?

[2021-03-23 12:08] JohnTrunix commented on #63
Found it sry.

https://getavataaars.com

[2021-03-23 12:08] #63 closed

[2021-04-11 14:33] evocthurner opened #64 "Telegram link in the footer"
Is there a plan to add the Telegram link to a channel in the footer?
Thank you very much.

[2021-04-11 15:45] PippoRJ commented on #64
Hey @evocthurner ,
Yeah that's a good idea.. i will look into it... I'll add this week!

[2021-05-02 09:24] dharmjit opened #65 "How to make site with this theme more performant"
Hello,

I am not sure but it seems like that the theme is a little slow. Here is my site https://goworks.netlify.app/posts/ and I have tried some netlify plugins as well for image optimization and source inlining/minimizing but it seems to not work. Any help on this.

Thanks,

[2021-05-04 16:51] PippoRJ commented on #65
Hey @dharmjit ,
I tried to open the website multiple times during these days... A couple of times it seemed to me slightly slow but overall it seems good... I never had this issue before, so it might be a platform issue...
I didn't explicitly add any delay in the visualisation part... so I don't know how to make it faster...

[2021-05-04 17:33] dharmjit commented on #65
Hello @PippoRJ , I tried Google [PageSpeed](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fgoworks.netlify.app%2Fposts%2Fgo-concurrency%2Fpri-goroutines%2F) and it suggested many improvements related to unused js and css.

[2021-05-04 18:20] PippoRJ commented on #65
Ah yes, I see what you mean... so, the theme includes many features that even if not used are still loaded....
To remove the unused features (js and css) depending on the content loaded is going to require quite some work... and most of the feature-dependant js and css is cached because it's static so even if I will do this work it will speedup the load of the first page while the rest is going to

[2021-05-04 20:19] PippoRJ commented on #64
Hey @evocthurner ,
sorry for being late but it turned out I needed to update my css as well for that.. and I was busy this period.
Do you know what is the prefix for telegram links? This is because in the configuration you will just need to add the suffix.

[2021-05-05 16:51] #65 closed

[2021-05-18 12:46] laiconsulting opened #66 "Blank page from Amplify"
When I run hugo server, I get my site up running fine.
[code]

However, when I have it implemented in AWS Amplify, the build isn't doing anything. Here is the build log
[code]

Some enlightenment is appreciated.

[2021-05-18 12:48] #64 closed

[2021-05-18 12:55] PippoRJ commented on #66
Hey @laiconsulting ,
I am not very familiar with AWS Amplify. Since the website generation seems to be working good with hugo, it is likely that the error is in the AWS Amplify part.

I have found these links that might help.
- https://aws.amazon.com/blogs/devops/agile-website-delivery-with-hugo-and-aws-amplify/
- https://gohugo.io/hosting-and-deployment/hosting-on-aws-amplify/

If you find the so

[2021-05-18 12:57] laiconsulting commented on #66
Thanks for the comment.
Does the theme use the extended version of Hugo?

[2021-05-18 13:20] #66 closed

[2021-05-18 19:34] loyannec opened #67 "Including portuguese language"
First, thanks for this amazing theme. I would like to know how can I include Portuguese as a language in this template.

[2021-05-18 20:34] PippoRJ commented on #67
Hey @loyannec ,
thanks! So there are 2 ways to do that:
1. You can submit a file called `pt.yaml` with the translation as PR in the folder `i18n` of this theme. Look at the structure of the other files in the same folder and you will understand how to do it. If you do this, you will become a contributor of the theme.
2. You can write here the translation for the following words:
"Read more" -->
"M

[2021-05-19 17:32] sameer9nov opened #68 "Support for comments"
Hey @PippoRJ , thanks for this amazing theme. It is clean and precise and to the point. I used it for my first blog site that I hosted on netlify. Any plans for enhancing the theme to include comments ? Using disqus or others ? I was trying to tinker around a bit but  it hasn't worked for me yet. While I did have a look at the other themes but I would want to stick with this. Do you think [this](h

[2021-05-19 20:49] PippoRJ commented on #68
Hey @sameer9nov ,
I did have a look at comments a while ago.
I was looking at https://github.com/panr/hugo-theme-hello-friend/blob/master/layouts/partials/comments.html but here it only says to use the standard hugo comment integration described here: https://gohugo.io/content-management/comments/
Did you try to use this?

[2021-05-19 21:00] sameer9nov commented on #68
Thanks@PippoRJ , I will surely have a look. Will get back with how the trial goes. And again, thanks for the amazing template.

[2021-05-20 14:51] sameer9nov commented on #68
No luck there @PippoRJ . I am going to try integrating staticman in here. Let's see how it goes.

[2021-05-23 10:26] dharmjit opened #69 "Use internal templates for Google Analytics tracking"
Hello there,

We can use Hugo internal template for Google analytics as described here https://gohugo.io/templates/internal#google-analytics. It will make this theme leaner. If it okay I can submit a PR.

[2021-05-23 10:47] PippoRJ commented on #69
Hey @dharmjit ,
thanks for the commit, I gave the possibility to add those tracking analytics as described here https://github.com/PippoRJ/hugo-refresh#statistics-counter . You need to add the complete tracking code in  the theme path `layouts/partials/counter.html`.
I placed it there because the google one are not the only tracking you can have. Clearly feel free the one that suits you better.

[2021-05-23 17:05] dharmjit commented on #69
ok, that seems better. Closing this issue.

[2021-05-23 17:05] #69 closed

[2021-06-04 12:54] PippoRJ commented on #68
Hey @sameer9nov , did you had any luck with the integration of staticman?

[2021-06-04 13:07] sameer9nov commented on #68
Hey @PippoRJ , I think I am half way through it.  I have setup the bridge to heroku with a bot account and integrated it with my repository. I still need to set up  the htmls for the staticman. Sorry abt the delay. If it's about marking the issue closed, please go ahead. I think I will anyway reach out to you once I am done with the integration and tests. Thanks again @PippoRJ

[2021-06-04 15:15] PippoRJ commented on #68
ok perfect, then I'll close this issue and feel free to reopen it whenever you want.

[2021-06-04 15:15] #68 closed

[2021-06-11 23:16] cloudrace opened #72 "Summary images for the pages"
Hi,

I am unable to provide a summary image for each of the posts. Would you please suggest where the images needs to be placed and added ?

Thanks

For example: please refer to (https://cloudrace.info/machine-learning/) and the code available in (https://github.com/cloudrace/cloudrace.github.io)

[2021-06-12 11:26] PippoRJ commented on #72
Hi @cloudrace ,

try to organise the post as described here: https://github.com/PippoRJ/hugo-refresh#customization-options-for-a-regular-page

There is an example in the theme: https://github.com/PippoRJ/hugo-refresh/tree/master/exampleSite/content/topic_1/example_3_topic_1

Let me know if you need more help.

[2021-06-13 21:40] cloudrace commented on #72
Hi,

I am experiencing the same error as referenced in this [link](https://github.com/PippoRJ/hugo-refresh/issues/6). My folder structure and image placement looks as suggested but the error remains the same.

Please advice how to overcome this.

<img width="1062" alt="error" src="https://user-images.githubusercontent.com/76705579/121822662-49b50100-cc6e-11eb-9034-389bed257397.png">

Actual Error

[2021-06-13 21:56] PippoRJ commented on #72
Hey @cloudrace ,
try to rename `how_to_get_handson.md` to `index.md`.
If this doesn't help I will download your repo and have a look.
Let me know.

[2021-06-13 22:03] cloudrace commented on #72
Thank you! That worked. Appreciate you jumping in

[2021-06-13 22:03] #72 closed

[2021-10-19 07:16] allemmbinn opened #73 "HTML"
HTML Tags were not working in my posts.

[2022-02-10 20:44] kanchpat opened #75 "Deploying with Nil pointer evaluating resource.Resource.Width error"
Hi,

I am trying to deploy a new content but experiencing error. Admittedly, its been a while since I posted. Could you spot to check to see if I am missing anything?

My github link is https://github.com/cloudrace/cloudrace.github.io

![image](https://user-images.githubusercontent.com/6234221/153493115-ba376a7f-bc74-48bc-a715-2e9e8fbf6685.png)

[2022-02-10 20:48] kanchpat commented on #75
Sorry, it was an issue with my image file

[2022-02-10 20:48] #75 closed

[2022-04-13 15:41] Thanatermesis opened #76 "Demo contents shows wrong code blocks"
I'm running the demo site as the instructions explained for the exampleSite directory and I'm seeing that the code blocks looks to have a wrong design (big space on the numbers element):

![image](https://user-images.githubusercontent.com/1181626/163218280-1f8f1539-027a-471f-b620-e929a23d947c.png)

[2022-04-14 08:09] PippoRJ commented on #76
Hi,
Thanks for reporting that.
I will have a look as soon as I can (probably next week).

On Wed, Apr 13, 2022, 20:41 Thanatermesis ***@***.***> wrote:

[2022-04-25 16:13] PippoRJ commented on #73
can you give a bit more information to debug this?

[2022-04-27 18:08] #67 closed

[2022-04-27 18:15] PippoRJ commented on #76
Hi @Thanatermesis ,
I fixed the example, it is now using a shortcode that I created.

[2022-04-27 18:15] #76 closed

[2022-05-13 07:25] yofeng2021 opened #77 "Can't change default font-famliy with the variables in config.yaml"
I have tried to change the default page `font-familiy` to `Noto Sans SC`, but it doesn't work well. The page's default font-family is stil `Open Sans`. I checked the config.toml and some sass files and find there are some diffrerents between the variables' name. So I want to ask that do you write the variables in config.toml correctly?

[2022-05-13 18:28] PippoRJ commented on #77
Hey,
I need to check that. I do not remember this detail. I will let you know in
the coming days.

On Fri, May 13, 2022, 09:26 Cai ***@***.***> wrote:

[2022-05-13 22:04] Aryan-Naveen opened #78 "How do I add a link back to the home page?"
I was wondering if there is a modification in config.yaml I can make so that a link back to homepage is available?

[2022-05-14 07:44] PippoRJ commented on #78
Hey,
where do you want to place that link? In the top menu? In the bottom
footer? In the tag list? In a document?

On Sat, May 14, 2022, 00:05 Aryan Naveen ***@***.***> wrote:

[2022-05-16 18:02] Aryan-Naveen commented on #78
In the top menu.

[2022-05-16 18:17] PippoRJ commented on #78
in the `config.yaml` you can use the option `linkPosition` and `linkText` of the `homepage` configuration.
see the commented code in the example here: https://github.com/PippoRJ/hugo-refresh/blob/master/exampleSite/config.yaml#L105
Let me know if it works so I can close the issue

[2022-05-16 19:27] PippoRJ commented on #77
it seems to be working fine to me... you need to change the fond in the `mainPage` `sidebar` and `navbar` in the `config.yaml`...
What are the differences you see in the variables' name?

[2022-05-18 04:02] Aryan-Naveen commented on #78
Ah thank you!!

[2022-05-18 04:04] Aryan-Naveen opened #79 "External Link on menu"
Do you know of any easy way to add a link to an external website on the top menu?

[2022-05-23 21:21] #78 closed

[2022-05-23 21:22] PippoRJ commented on #79
I think you need to modify the theme itself... it's not that straightforward..!

[2022-05-26 21:14] #79 closed

[2022-06-28 18:22] #52 closed

[2022-06-28 18:23] PippoRJ commented on #73
Closing for inactivity

[2022-06-28 18:23] #73 closed

[2022-07-06 22:46] harshnandwana opened #80 "please add home redirect and help to bring blogs in place of tags"
1.can you please make a button to redirect to homepage from blogs
2, is there anyway to bring blogs in place of tags

[2022-07-07 08:27] PippoRJ commented on #80
Hi there!

There is an option in the config file to show a home button in the top
navbar in each blog post. Please have a look at the config file.

No sorry, currently there is no option to bring the list of blog posts
instead of the list of tags.

On Thu, Jul 7, 2022, 00:46 Harsh Nandwana ***@***.***> wrote:

[2022-09-10 08:39] #80 closed

[2022-09-17 14:40] magoorden opened #81 "Font awesome icons not loaded"
I have started using this theme, but I noticed that the font awesome icons are not shown, see screenshot below.

![Screenshot 2022-09-17 at 16 21 56](https://user-images.githubusercontent.com/36483423/190861870-d31454c3-d9a2-46ff-9224-875f55703483.png)

I can narrow the problem down to me having a subfolder as a baseURL, i.e. "https://www.example.com/root/". Some of Hugo's problems with subfolders

[2022-09-17 17:26] PippoRJ commented on #81
Hey @magoorden
mmmmmm I see... does it work if you remove the subfolder as baseURL?

[2022-09-17 17:30] magoorden commented on #81
Yes, it does work when I remove the subfolder. Steps to reproduce:
1. Follow your steps on https://themes.gohugo.io/themes/hugo-refresh/ to run the example site.
2. Add a subfolder to the example baseURL.
3. I cons are no longer working.

But I kind of need that subfolder, because the university provides the domain https://homes.cs.aau.dk/~martijn/ for me.

[2022-09-17 18:12] PippoRJ commented on #81
The includes are done in the `css.html` page of the theme.

The problem seems to be that with a subfolder in the `baseURL` then the subfolder is includes in the css files path as well... but the files are not in the that subfolder when you do `hugo server -D`...
If that is indeed the problem then when you upload the content of public folder to your own university folder the problem should solve it

[2022-09-17 18:28] PippoRJ commented on #81
I solved another issue when the `BaseURL` has a subfolder... related to the homepage link in the navbar and in the footer... please pull the repo...

[2022-09-17 18:31] magoorden commented on #81
I have run your example site (where I changed the baseURL to `https://homes.cs.aau.dk/~martijn/`) with `hugo -D` and uploaded them to https://homes.cs.aau.dk/~martijn/. As you can see, Hugo can't still figure this subfolder thing out properly...

[2022-09-17 18:33] magoorden commented on #81
I noticed the navigation to the home page could also be resolved by adding
[code]
to the `config.yaml` file.

Nonetheless, I will pull your recent changes.

[2022-09-17 18:54] PippoRJ commented on #81
the problem seems to be that the file `all.min.css` is loading urls paths from the root of the domain (this path `/webfonts/`).... and since your site is in a subfolder then is not able to load the resources correctly..

[2022-09-21 18:11] magoorden commented on #81
I tried upgrading fontawesome to version 6 and that solved the issue with the path to `/webfonts/`. In version 6 the urls in `all.min.css` are slightly different formulated. This fixed the issue.

I created a pull request with the changes I made to fix the issue.

[2022-09-21 19:35] PippoRJ commented on #81
Thanks that's awesome..!
I did modified the `all.min.css` because I wanted to load local resources and not remote ones.. so if that is going to load remote resources I will have to modify it again..
To completely solve the issue (i.e.: to be able to load local resources from correct path) you need to process that .css file in the same way I am processing the .svg files to follow the main colour sc

[2022-09-22 04:31] magoorden commented on #81
The `all.min.css` file only has url fields referring to the local `/webfonts/` folder. So I think that it will not load remote resources.
I will check later whether the svg images change color (yes, I noticed it, as I changed the color for my website).

[2022-09-23 12:07] magoorden commented on #81
I checked the color change using your example website. I changed the `mainColour` attribute in `config.yaml` to some random color (`0b9444` to be precise), and, for example, the SVG logo in the footer nicely changes color as well without changing anything else in the code.

![Screenshot 2022-09-23 at 14 05 55](https://user-images.githubusercontent.com/36483423/191956589-ac918474-37ac-4d4a-b0c3-6dc